body {
    margin: 0
}

.header {
    background: #03a9f4;
    text-align: center
}

.logo {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

header input {
    font-size: 20px;
    margin: 20px 0;
}